<div id="page">
        <button ng-bootbox-title="Details de l'Elève" ng-bootbox-custom-dialog ng-bootbox-custom-dialog-template="templates/class-form.html" type="button" class="btn btn-primary btn-lg btn-block"> 
             <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span>Ajouter une classe 
        </button>
        <br>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-condensed table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th scope="col">Niveau</th>
                    <th scope="col">Classe</th>
                    <th scope="col">Effectif</th>
                    <th scope="col">Moyenne</th>
                    <th scope="col">1er</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stud in students " >
                    <td class="edit" field="name">{{class.grade}}</td>
                    <td class="edit" field="name">{{class.grade}} {{class.branch}} {{class.label}}</td>
                    <td class="edit" field="phone">{{class.students.count()}}</td>
                    <td class="edit" field="mobile_phone">{{class.avg}}</td>
                    <td class="edit" field="email">{{class.topper}}</td>
                    
                    <td>
                        <a class="btn btn-danger delete_confirm" ng-click="deleteCustomer(class._id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <!--
                        <button class="btn btn-danger" ng-bootbox-title="A cool title!" ng-bootbox-confirm="Are you sure you want to confirm this?" ng-bootbox-confirm-action="deleteCustomer(class._id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        -->
                        <a class="btn btn-default" ui-sref="customer({customerId:class._id,action:3})">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a class="btn btn-default full_show" ui-sref="customer({customerId:class._id,action:1})">
                            <span class="glyphicon glyphicon-align-left"></span>
                        </a>
                    </td>
                </tr>
    </div>