<div id="page"  ng-init="currentTab=0">
    <div class="page-header">
        <h1><span class="glyphicon glyphicon-calendar"></span>{{customer.id}}<small> [{{customer.account_type}}]</small></h1>
    </div>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" ng-click="currentTab=0" class="btn btn-default customer-detail">Détails</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" ng-click="currentTab=1" class="btn btn-default customer-stats">Statistiques</button>
        </div>
    </div>
    <div ng-switch="currentTab" >
        
        <div ng-switch-when="0" style="margin-top: 10px; " class="customer-detail row">
            <div class="col-md-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Client</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{customer.name}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Service</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{customer.account_type}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Telephone</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{customer.phone}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{customer.email}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Adresse</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{customer.address}} </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Abonné_Depuis</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">{{customer.date_subscription}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Accès Web</label>
                        <div class="col-sm-10">
                            <input class="toggle-one" type="checkbox" data-toggle="toggle" data-on="Activé" data-off="Desactivé" data-width="100" data-height="35"> </div>
                    </div>
                </form>
            </div>
        </div>
        <div  ng-switch-when="1" style="margin-top: 10px;" class="customer-stats row">
            <div class="col-md-12"  ng-repeat="cpe in cpes ">
                <div class="btn-group btn-group-justified" role="group" aria-label="Basic example">
                    <span type="button" class="well btn btn-default">
                    <span class="glyphicon glyphicon-scale"></span> CPE[{{cpe.label}}]
                    </span>
                    <span type="button" class="well btn btn-default">{{cpe.debit_type}}</span>
                    <span type="button" class="well btn btn-default"> Débit:
                    <span class="glyphicon glyphicon-arrow-up"></span> {{cpe.debit_up}}
                    <span class="glyphicon glyphicon-arrow-down"></span> {{cpe.debit_down}}
                    </span>
                    <span type="button" class="well btn btn-default">{{cpe.vlan}}</span>
                    <span type="button" class="well btn btn-default">MAC: {{cpe.mac}}</span>
                    <span type="button" class="well btn btn-default">MGMT: <a href="http://192.168.30.1/" target="_blank">192.168.30.1</a></span>
                    <span type="button" class="well btn btn-default" ng-click="showGraph= !showGraph;iframeSrc=graphUrl(cpe.id) " >
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </span>
                </div>
                <div class="panel panel-default" ng-show="showGraph">
                    <div class="panel-body">
                        <div class="embed-responsive embed-responsive-16by9" style=" padding-bottom: 330px; ">
                            <iframe class="embed-responsive-item" ng-src="{{iframeSrc| trustedUrl}}" ></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(function() {
        $('.toggle-one').bootstrapToggle({
            size: 'large'
        });
    })
</script>