<style>
    .placepicker-map {
        min-height: 250px;
    }
    
    .address-indicator {
        color: gray;
        font-size: 12px;
        font-style: italic;
        margin-left: 10px;
        margin-top: -5px;
    }
</style>

<form ng-controller="StudentController">
    <div class="form-group">
        <input class="form-control" placeholder="Photo" ng-model="student.avatar_link" />
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="Nom" ng-model="student.name" />
    </div>
    <div class="form-group">
        <input class="form-control" placeholder="Prénoms" ng-model="student.surname" />
    </div>
    
    <div class="form-group">
        <ng-bs3-datepicker ng-model="student.dob" language="fr-ca" date-format="DD-MM-YYYY">
    </div>
    
    <div class="form-group" class="col-md-12">
        <toggle   ng-model="student.gender" ng-change="" on="Masculin" off="Feminin" onstyle="btn-primary" offstyle="btn-danger" style="0width:100%" ></toggle>
    </div>

    <div class="form-group">
        <input class="form-control" placeholder="Nationalité" ng-model="student.nationality" />
    </div>

    <div class="form-group">
        <input class="form-control" placeholder="phone" ng-model="student.phone" />
    </div>
    
    <div class="form-group">
        <input class="form-control" placeholder="Email" ng-model="student.email" />
    </div>
    
    <div class="form-group">
        <input class="form-control" placeholder="Addresse" ng-model="student.address" />
    </div>

    <div class="form-group">
        <select class="form-control" ng-model="student.account_type">
            <option value="" disabled selected>Classe</option>
            <option value="INTERCO">Angular Select....</option>
            <option value="INTERNET">Internet</option>
        </select>
    </div>

    <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
        <a data-bb-handler="cancel" class="btn btn-danger" role="button" data-dismiss="modal">Annuler</a>
        <a data-bb-handler="confirm" class="btn btn-default" role="button" data-dismiss="modal" ng-click="createStudent(student)">Créer</a>
    </div>
</form>
<script>
</script>