<div id="page">
        <button ng-bootbox-title="Details de l'Elève" ng-bootbox-custom-dialog ng-bootbox-custom-dialog-template="templates/student-form.html" type="button" class="btn btn-primary btn-lg btn-block"> 
             <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span>Nouvel Elève 
        </button>
        <br>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-hover table-condensed table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Age</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Classe</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stud in students " >
                    <td class="edit" field="name">{{stud.name}}</td>
                    <td class="edit" field="name">{{stud.surnames.join(' ')}}</td>
                    <td class="edit" field="phone">{{stud.dob}}</td>
                    <td class="edit" field="mobile_phone">{{stud.gender}}</td>
                    <td class="edit" field="email">{{stud.class}}</td>
                    
                    <td>
                        <a class="btn btn-danger delete_confirm" ng-click="deleteCustomer(stud._id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                        <!--
                        <button class="btn btn-danger" ng-bootbox-title="A cool title!" ng-bootbox-confirm="Are you sure you want to confirm this?" ng-bootbox-confirm-action="deleteCustomer(stud._id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        -->
                        <a class="btn btn-default full_show" ui-sref="student({id:stud._id})">
                            <span class="glyphicon glyphicon-align-left"></span>
                        </a>
                    </td>
                </tr>
    </div>